@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #303D34, #405245);
    font-family: Poppins;
}